//- index.jade
extends ./layout.jade

block row-content
  div.row
    // Composer
    div.col-lg-8.col-md-8.col-xs-6(style='margin-top:15px; position:relative;')
      div.overlay.loading-tone(style='display:none;')
        img(src='images/watson.gif')    
      h3.composer Message composer
      div.well.composer
        form.form-horizontal(method='post')
          fieldset
            div.form-group.row
              div.col-lg-2.col-md-2.col-xs-4
                label(for='to') To:
              div.col-lg-10.col-md-10.col-xs-8
                input.to.form-control(id='to', type='text', placeholder='@... Type a Twitter username')
            div.form-group.row
              div.col-lg-2.col-md-2.col-xs-4
                label(for='message') Message:
              div.col-lg-10.col-md-10.col-xs-8
                textarea#message.message.form-control(name='message', rows='10', placeholder='Please enter the text to analyze ...', required='true')
            div.form-group.row
              div.col-lg-2.col-lg-offset-8.col-md-2.col-md-offset-8.col-xs-4.col-xs-offset-4
                a.btn.btn-block.btn-defaultclean-btn(role='button') Clear
              div.col-lg-2.col-md-2.col-xs-4
                a.btn.btn-block.analysis-btn(role='button') Analyze
      //div.row.loading-tone(style='display:none;')
      //  div.col-lg-12.col-xs-12.text-center
      //    img(src='images/watson.gif')    
      div.tone_rslts(style='display:none;')
        h3 Tone Analysis
        div.well
          div.results-tone
          div This is the analyzed text. Colors are related to traits. Click on a word for synonym expansion:
          div.output_message.form-control(contentEditable=true, style='overflow: auto; height:250px; ')
          div.form-group.row
            div.col-lg-2.col-md-2.col-xs-4
              a.btn.btn-block.back-btn(role='button') Back
      // Personality visualization
      //div.form-group.row.loading-pi.text-center(style='display:none;')
      div.row.loading-pi.text-center(style='display:none;')
        h2 &nbsp;
        img(src='images/watson.gif')
      div.form-group.row.pi-error(style='display: none;')
        h2 &nbsp;
        div.well
          p.pi-errorMsg Error message here
      // Personality
      div.pi-results(style='display: none;')
        h3 Visualization of Personality Data
        div.well#vizcontainer

    // Second, narrower column
    div.col-lg-4.col-md-4.col-xs-6(style='margin-top:15px;')
      // Synonyms
      div.synonyms(style='display:none;')
        h3 Synonyms
        div.row.loading-synonym(style='display:none')
            div.col-lg-12.col-xs-12.text-center
              img(src='images/watson.gif')
          div.synonymsResults(style='display:none;')
      div.row.loading-pi.text-center(style='display:none;')
        h2 &nbsp;
        img(src='images/watson.gif')
      div.pi-results(style='display: none;')
        h3.summary-title(style='height: 29px;') Your Personality *
        div.well
          div.summary-div
          div.text-right(style='color: gray')
            em.small * Compared to most people who participated in our surveys.
