//- index.jade
extends ./layout.jade

block row-content
  div.row
    // Composer
    div.col-lg-8.col-md-8.col-xs-6(id="large-col" style='margin-top:15px; position:relative;')
      div.overlay.loading-tone(style='display:none;')
        img(src='images/watson.gif')
      h3.composer Message composer
      div.well.composer
        form.form-horizontal(method='post')
          fieldset
            div.form-group.row
              div.col-lg-2.col-md-2.col-xs-4
                label(for='to') To:
              div.col-lg-10.col-md-10.col-xs-8
                input.to.form-control(id='to', type='text', placeholder='@...')
            div.form-group.row
              div.col-lg-2.col-md-2.col-xs-4
                label(for='message') Message:
              div.col-lg-10.col-md-10.col-xs-8
                textarea#message.message.form-control(name='message', rows='10', placeholder='Please enter the text to analyze ...', required='true')
            div.form-group.row
              div.col-lg-2.col-lg-offset-8.col-md-2.col-md-offset-8.col-xs-4.col-xs-offset-4
                a.btn.btn-block.btn-default.clean-btn(role='button') Clear
              div.col-lg-2.col-md-2.col-xs-4
                a.btn.btn-block.analysis-btn(role='button') Analyze
      div.results-tone(style='display:none;')
        h3 Tone Analysis
        div.well
          div.form-group.row
            div.results-tone-text
          div.form-group.row
            div This is your message with words highlighted in the color that reflects their corresponding trait.
                b  Click on a word to see synonyms and the traits that each one communicates
                |:
            div.output_message.form-control(contentEditable=false, style='overflow: auto; height:250px; ')
          div.form-group.row
            div.col-lg-2.col-lg-offset-10.col-md-2.col-md-offset-10.col-xs-4.col-xs-offset-4
              a.btn.btn-block.back-btn(role='button') Back
      div.row.loading-pi.text-center(style='display:none;')
        h2 &nbsp;
        img(src='images/watson.gif')
      div.pi-results(style='display: none;')
        img(id="twitter-logo" src='images/twitter_logo.png')
        h3.summary-title(style='height: 29px;') Your Personality *
        div.well
          div.summary-div
          div.text-right(style='color: gray')
            em.small * Compared to most people who participated in our surveys.
      // Personality visualization
      //div.form-group.row.loading-pi.text-center(style='display:none;')
      //div.row.loading-pi.text-center(style='display:none;')
        h2 &nbsp;
        img(src='images/watson.gif')
      div.form-group.row.pi-error(style='display: none;')
        h2 &nbsp;
        div.well
          p.pi-errorMsg Error message here
      // Personality
      div.pi-results(style='display: none;')
        h3 Visualization of Personality Data
        div.well#vizcontainer

    // Second, narrower column
    div.col-lg-4.col-md-4.col-xs-6(id="small-col" style='margin-top:15px;')
      // Help
      div.help
        h3 Tips
        p To start, type the recipient's Twitter ID. <i>Conversational Insights</i> will
          |report an analysis of their personality using&nbsp;
          a(target='_blank', href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/personality-insights.html') IBM Watson Personality Insights
          | . Use this information to compose a message that will resonate better with the recipient.
        p While you are composing the message, click <b>Analyze</b>
          | to validate your desired message tone with an analysis built by the&nbsp;
          a(target='_blank', href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/tone-analyzer.html') IBM Watson Tone Analyzer
          |. Further refine your message by clicking on a highlighted word, expanding a column
          |that will provide synonyms and their corresponding traits.
        p Learn more about these and other services from&nbsp;
          a(target='_blank', href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/') Watson Developer Cloud
          | .
      // Tips - synonyms
      //div.results-tone(style='display:none;')
      // Synonyms
      div.synonyms(style='display:none;')
        h3 Synonyms
        div.row.loading-synonym(style='display:none')
          div.col-lg-12.col-xs-12.text-center
            img(src='images/watson.gif')
        div.synonymsResults(style='display:none;')
