.logo {
    float: left;
    margin-left: 25px;
}

.logo span img {
    width: 260px;
    height: auto;
}

#twitter-logo {
    width: 25px;
    float: left;
    margin-right: 5px;
}

.header .api-label {
    color: #00b2ef;
    display: inline;
    font-weight: 400;
}

.errorMsg {
    font-weight: bold;
    color: #FF5050;
}

rect {
    rx: 2px;
    rx: 2px;
}

.text-in-box {
    fill: #111;
}

.text-above-box {
    fill: #666;
}

.text-bellow-box {
    fill: #666;
}

.text-analytical,
.text-agreeable,
.text-family_c,
.text-causation {
    fill: #eee;
}

.matched-word {
    font-weight: bold;
}

.matched-word:hover {
    background-color: #C8D2D2;
    text-decoration: underline;
    cursor: pointer;
}

.text-mixed-positive,
.text-mixed-negative {
    opacity: 0;
}

.popover {
    max-width: 100%;
    /* Max Width of the popover (depending on the container!)*/
}

.badge-neg {
    background-color: #F46D43;
}

.modal-backdrop {
    z-index: 0;
}

.results > .row {
  clear: left;
}

#vizcontainer svg {
  min-width: 480px;
  width: 100%;
  height: 100%;
}

.overlay {
	position: absolute;
	z-index: 1000;
	background-color: rgba(222,222,222,0.5);
	width: 100%;
	height: 100%;
}

.overlay img {
	position: absolute;
	left: 45%;
	top: 40%;
}
